  .table-center {
    text-align: center;
    font-size: 30px;
    padding: 0;
    margin: 0;
  }
  
  .table-left {
    text-align: left;
    font-size: 30px;
    padding: 0;
    margin: 0;
  }
  
  .red {
    background-color: crimson;
    color: white
  }
  
  .blue {
    background-color: cornflowerblue;
    color: white;
  }
  
  .redWin {
    background-color: crimson;
    color: yellow;
    font-weight: bold;
  }
  
  .blueWin {
    background-color: cornflowerblue;
    color: yellow;
    font-weight: bold;
  }
  
  .win {
    background-color: forestgreen;
    color: yellow;
  }
  
  .loss {
    background-color: black;
    color: white;
  }
  
  .tie {
    background-color: yellow;
    color: black;
  }
  
  .table td {
    padding: 0;
  }
  
  table.table td {
    padding: 0 5px 0 5px;
  }
  
  table.table th {
    padding: 0 5px 0 5px;
  }
  
  .logo-view {
    padding: 80px 0 0 0;
    margin: -15px 0 0 0;
    background-color: #e65100;
    height: 100vh;
    min-height: 100vh;
    overflow: hidden;
  }
  
  .body {
    overflow: hidden;
  }
  
  ::-webkit-scrollbar {
    width: 0px;
  }